body {
  background: url("../img/bg1.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #333;
  text-align: justify;
  font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
  font-size: large;
  letter-spacing: 1px;
  line-height: 1cm;
}

html, body, .container-fluid {
  height: 100%;
  * {
    transition: all 0.5s;
  }
}

.row-logo {
  text-align: center;
  padding-bottom: 40px;
  img {
    width: 60%;
  }
}

.row-content {
  min-height: 50%;
  padding-bottom: 60px;
}

.kontakt, .ubezpieczenia-logo, .leasing-logo {
  text-align: center;
}

.row:nth-child(even):not(.row-navbar) {
  background: url("../img/bg2.jpg");
  background-size: cover;
}

.row-ub-logo {
  padding-top: 60px;
}

.row-foot {
  padding: 12px;
  font-size: small;
  text-align: center;
}

h2, h3 {
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.62);
  padding-bottom: 20px;
}

.icon-wrapper {
  font-size: 40px;
  padding-top: 10px;
}

.hover-effect {
  padding: 20px;
  &:hover {
    padding: 17px 23px 23px 17px;
  }
  img {
    width: 100%;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.21);
    &:hover {
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
    }
  }
  a {
    position: relative;
    display: block;
    span {
      color: #333;
      background: rgba(142, 139, 135, 0.56);
      text-align: right;
      letter-spacing: 2px;
      font-size: 30px;
      line-height: 33px;
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 30px;
      border-bottom: 2px solid;
      padding: 13px 9px 0px 20px;
    }
  }

}

.ubezpieczenia-logo, .leasing-logo {
  img {
    width: 100%;
  }
}

img {
  border-radius: 2px;
}

#navcontainer ul {
  margin: 0;
  padding-bottom: 40px;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

#navcontainer ul li {
  display: inline;
}

#navcontainer ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  background-color: transparent;
  padding-right: 15px;
}

#navcontainer ul li a:hover {
  color: #ddd;
  background-color: transparent;
}

iframe {
  border-radius: 2px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.25);
}

#kontakt .col-sm-3, .col-sm-4 {
  padding-bottom: 20px;
}

ul {
  margin-bottom: 0;
}