body {
  background: url("../img/bg1.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #333;
  text-align: center;
  font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
  font-size: large;
  letter-spacing: 1px;
}

html, body, .container-fluid {
  height: 100%;
  * {
    transition: all 0.5s;
  }
}

.row-logo {
  text-align: center;
  padding-bottom: 40px;
  img {
    width: 60%;
  }
}

.row-1, .row-2 {
  min-height: 60%;
  padding-bottom: 60px;
}

.row-2 {
  background: url("../img/bg2.jpg");
  background-size: cover;
  color: #ddd;
  h2 {
    text-shadow: 1px 1px 2px rgba(142, 139, 135, 0.64);
  }
}

h2 {
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.62);
  padding-bottom: 20px;
}

.row-foot {
  width: 100%;
  padding: 12px;
  height: 40px;
  font-size: small;
}

.hover-effect {
  padding: 20px;
  &:hover {
    padding: 17px 23px 23px 17px;
  }
  img {
    width: 100%;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.21);
    &:hover {
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.21);
    }
  }
}

.ubezpieczenia, .leasing {
  $height: 80px;
  $pad: 30px;
  .col-sm-2, .col-sm-1 {
    div {
      height: $height;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    padding: $pad 30px;
    height: $height + 2 * $pad;
  }
}

img {
  border-radius: 2px;
}

#navcontainer ul {
  margin: 0;
  padding-bottom: 40px;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

#navcontainer ul li {
  display: inline;
}

#navcontainer ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  padding-right: 15px;
}

#navcontainer ul li a:hover {
  color: #ddd;
  background-color: transparent;
}

iframe {
  border-radius: 2px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.25);
}